// Pin constraints for the video dropout test rig (BRAM variant).
// Same verified pin set as the ascal rig; DDR3 and spare keys removed.

IO_LOC "sys_clk" V22;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "s1" AA13;
IO_PORT "s1" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=1.5;
IO_LOC "tmds_clk_p" G15;
IO_PORT "tmds_clk_p" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_clk_n" G16;
IO_PORT "tmds_clk_n" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[0]" J14;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[0]" H14;
IO_PORT "tmds_d_n[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[1]" J15;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[1]" H15;
IO_PORT "tmds_d_n[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[2]" K17;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[2]" J17;
IO_PORT "tmds_d_n[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "hpd_en" K13;
IO_PORT "hpd_en" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12 BANK_VCCIO=3.3;
IO_LOC "vga_r[0]" R19;   // J10-1  (SDRAM1_D0)
IO_PORT "vga_r[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_r[1]" P19;   // J10-2  (SDRAM1_D1)
IO_PORT "vga_r[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_r[2]" U21;   // J10-3  (SDRAM1_D2)
IO_PORT "vga_r[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_r[3]" T21;   // J10-4  (SDRAM1_D3)
IO_PORT "vga_r[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_b[0]" R17;   // J10-5  (SDRAM1_D4)
IO_PORT "vga_b[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_b[1]" P16;   // J10-6  (SDRAM1_D5)
IO_PORT "vga_b[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_b[2]" T18;   // J10-7  (SDRAM1_D6)
IO_PORT "vga_b[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_b[3]" R18;   // J10-8  (SDRAM1_D7)
IO_PORT "vga_b[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_g[0]" W22;   // J10-13 (SDRAM1_D13)
IO_PORT "vga_g[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_g[1]" W21;   // J10-14 (SDRAM1_D12)
IO_PORT "vga_g[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_g[2]" P17;   // J10-15 (SDRAM1_D11)
IO_PORT "vga_g[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_g[3]" N17;   // J10-16 (SDRAM1_D10)
IO_PORT "vga_g[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_hs" N14;     // J10-17 (SDRAM1_D9)
IO_PORT "vga_hs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_vs" N13;     // J10-18 (SDRAM1_D8)
IO_PORT "vga_vs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "mode15_n" R16;   // J10-37 (SDRAM1_A0)
IO_PORT "mode15_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "uart_tx" U15;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "debug_o[0]" Y22;    // J10-21: init_calib_complete (3.3V = trained)
IO_PORT "debug_o[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "debug_o[1]" Y21;    // J10-22: clk_x1 heartbeat (~1Hz bounce)
IO_PORT "debug_o[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "debug_o[2]" AB22;   // J10-23: 27MHz ref heartbeat (~0.8Hz bounce)
IO_PORT "debug_o[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "debug_o[3]" AB21;   // J10-24: ddr_rst (LOW = DDR PLL settled)
IO_PORT "debug_o[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
