IO_LOC "sys_clk" V22;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "s1" AA13;
IO_PORT "s1" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=1.5;
IO_LOC "tmds_clk_p" G15;
IO_PORT "tmds_clk_p" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_clk_n" G16;
IO_PORT "tmds_clk_n" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[0]" J14;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[0]" H14;
IO_PORT "tmds_d_n[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[1]" J15;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[1]" H15;
IO_PORT "tmds_d_n[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[2]" K17;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[2]" J17;
IO_PORT "tmds_d_n[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "hpd_en" K13;
IO_PORT "hpd_en" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12 BANK_VCCIO=3.3;
IO_LOC "uart_tx" U15;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
