// Physical pin constraints for the ascal / video bring-up rig on Tang Console 60K.
// Extracted verbatim from mcr2_console60k.cst (the hardware-verified set) so the
// rig lights the SAME pins as the real core - only the unused ports are dropped
// and "reset2" is renamed "key2" (here it cycles the scaler mode, not reset).

IO_LOC "sys_clk" V22;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "s1" AA13;
IO_PORT "s1" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=1.5;
IO_LOC "key2" AB13;
IO_PORT "key2" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=1.5;
IO_LOC "tmds_clk_p" G15;
IO_PORT "tmds_clk_p" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_clk_n" G16;
IO_PORT "tmds_clk_n" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[0]" J14;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[0]" H14;
IO_PORT "tmds_d_n[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[1]" J15;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[1]" H15;
IO_PORT "tmds_d_n[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[2]" K17;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[2]" J17;
IO_PORT "tmds_d_n[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "hpd_en" K13;
IO_PORT "hpd_en" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12 BANK_VCCIO=3.3;
IO_LOC "vga_r[0]" R19;   // J10-1  (SDRAM1_D0)
IO_PORT "vga_r[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_r[1]" P19;   // J10-2  (SDRAM1_D1)
IO_PORT "vga_r[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_r[2]" U21;   // J10-3  (SDRAM1_D2)
IO_PORT "vga_r[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_r[3]" T21;   // J10-4  (SDRAM1_D3)
IO_PORT "vga_r[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_b[0]" R17;   // J10-5  (SDRAM1_D4)
IO_PORT "vga_b[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_b[1]" P16;   // J10-6  (SDRAM1_D5)
IO_PORT "vga_b[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_b[2]" T18;   // J10-7  (SDRAM1_D6)
IO_PORT "vga_b[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_b[3]" R18;   // J10-8  (SDRAM1_D7)
IO_PORT "vga_b[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_g[0]" W22;   // J10-13 (SDRAM1_D13)
IO_PORT "vga_g[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_g[1]" W21;   // J10-14 (SDRAM1_D12)
IO_PORT "vga_g[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_g[2]" P17;   // J10-15 (SDRAM1_D11)
IO_PORT "vga_g[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_g[3]" N17;   // J10-16 (SDRAM1_D10)
IO_PORT "vga_g[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_hs" N14;     // J10-17 (SDRAM1_D9)
IO_PORT "vga_hs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_vs" N13;     // J10-18 (SDRAM1_D8)
IO_PORT "vga_vs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "mode15_n" R16;   // J10-37 (SDRAM1_A0)
IO_PORT "mode15_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "uart_tx" U15;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "debug_o[0]" Y22;    // J10-21: init_calib_complete (3.3V = trained)
IO_PORT "debug_o[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "debug_o[1]" Y21;    // J10-22: clk_x1 heartbeat (~1Hz bounce)
IO_PORT "debug_o[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "debug_o[2]" AB22;   // J10-23: 27MHz ref heartbeat (~0.8Hz bounce)
IO_PORT "debug_o[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "debug_o[3]" AB21;   // J10-24: ddr_rst (LOW = DDR PLL settled)
IO_PORT "debug_o[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ddr_bank[2]" M6;
IO_PORT "ddr_bank[2]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_bank[1]" P2;
IO_PORT "ddr_bank[1]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_bank[0]" P5;
IO_PORT "ddr_bank[0]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[14]" D1;
IO_PORT "ddr_addr[14]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[13]" K1;
IO_PORT "ddr_addr[13]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[12]" K4;
IO_PORT "ddr_addr[12]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[11]" H3;
IO_PORT "ddr_addr[11]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[10]" L1;
IO_PORT "ddr_addr[10]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[9]" H5;
IO_PORT "ddr_addr[9]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[8]" J5;
IO_PORT "ddr_addr[8]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[7]" J1;
IO_PORT "ddr_addr[7]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[6]" G3;
IO_PORT "ddr_addr[6]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[5]" H2;
IO_PORT "ddr_addr[5]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[4]" J2;
IO_PORT "ddr_addr[4]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[3]" J4;
IO_PORT "ddr_addr[3]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[2]" G2;
IO_PORT "ddr_addr[2]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[1]" K2;
IO_PORT "ddr_addr[1]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[0]" M1;
IO_PORT "ddr_addr[0]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_odt" M2;
IO_PORT "ddr_odt" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_cke" K6;
IO_PORT "ddr_cke" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_we" M5;
IO_PORT "ddr_we" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_cas" L4;
IO_PORT "ddr_cas" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_ras" L5;
IO_PORT "ddr_ras" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_cs" P4;
IO_PORT "ddr_cs" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_reset_n" L6;
IO_PORT "ddr_reset_n" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_ck" L3,K3;
IO_PORT "ddr_ck" IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dm[1]" V7;
IO_PORT "ddr_dm[1]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dm[0]" AA4;
IO_PORT "ddr_dm[0]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[15]" Y9;
IO_PORT "ddr_dq[15]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "ddr_dq[14]" AB6;
IO_PORT "ddr_dq[14]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "ddr_dq[13]" W9;
IO_PORT "ddr_dq[13]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "ddr_dq[12]" AB8;
IO_PORT "ddr_dq[12]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "ddr_dq[11]" Y7;
IO_PORT "ddr_dq[11]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "ddr_dq[10]" AB7;
IO_PORT "ddr_dq[10]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "ddr_dq[9]" Y8;
IO_PORT "ddr_dq[9]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "ddr_dq[8]" AA8;
IO_PORT "ddr_dq[8]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "ddr_dq[7]" AB1;
IO_PORT "ddr_dq[7]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "ddr_dq[6]" AB5;
IO_PORT "ddr_dq[6]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "ddr_dq[5]" AB2;
IO_PORT "ddr_dq[5]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "ddr_dq[4]" AA1;
IO_PORT "ddr_dq[4]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "ddr_dq[3]" V4;
IO_PORT "ddr_dq[3]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "ddr_dq[2]" AA5;
IO_PORT "ddr_dq[2]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "ddr_dq[1]" AB3;
IO_PORT "ddr_dq[1]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "ddr_dq[0]" Y4;
IO_PORT "ddr_dq[0]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "ddr_dqs[1]" V9,V8;
IO_PORT "ddr_dqs[1]" IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "ddr_dqs[0]" Y3,AA3;
IO_PORT "ddr_dqs[0]" IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
